# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Default place for printing coverage reports
coverage_reports

# The script I'm using to run bare-bones tests
run_commands.sh
